<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="mqProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:mq-connection.properties"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    <bean id="maPreviewBuilderBean" class="com.blu.es.camel.router.ApolloConsumerBuilder"/>
    <bean id="messageProcessor" class="com.blu.es.camel.router.MessageProcessor"/>
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="${mq.brokerurl}"/>
        <property name="userName" value="${mq.username}"/>
        <property name="password" value="${mq.password}"/>
    </bean>

    <camelContext id="camelContext-preview" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="maPreviewBuilderBean"/>
    </camelContext>
    <!-- JDBC template-->
    <bean id="oraDS" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${db.driverclass}"/>
        <property name="jdbcUrl" value="${db.jdbcurl}"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
    </bean>
    <bean id="oraJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="oraDS"/>
    </bean>
    <bean id="namedOraJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="oraDS"/>
    </bean>
    <bean id="oraTxMgr" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="oraDS"/>
    </bean>
    <bean id="esClient" class="com.blu.es.sandbox.ESClient">
        <constructor-arg name="host" value="${es.host}"/>
        <constructor-arg name="port" value="${es.port}"/>
    </bean>
</beans>